* {
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--green-600);
}

body {
  padding: 0px 0px 20px 0px;
}

:root {
  --green-50: #f1fcf4;
  --green-100: #dff9e7;
  --green-200: #c0f2d0;
  --green-300: #8fe6ac;
  --green-400: #56d280;
  --green-500: #2fb85f;
  --green-600: #1f8c45;
  --green-700: #1e773d;
  --green-800: #1c5f35;
  --green-900: #194e2d;
  --green-950: #082b16;
  --divider: #BDBDBD;
  --white: #FFFFFF;
  --red-600: #8c1f3b;
  --blue-600: #1f4f8c;
  --yellow-600: #f2c94c;
  --text-32: 2rem;
  --text-30: 1.875rem;
  --text-28: 1.8rem;
  --text-26: 1.625rem;
  --text-25: 1.6rem;
  --text-24: 1.5rem;
  --text-22: 1.375rem;
  --text-20: 1.3rem;
  --text-18: 1.1rem;
  --text-base: 1rem;
  --text-14: 0.875rem;
  --text-12: 0.8rem;
  --text-10: 0.6rem;
  --text-8: 0.5rem;
  --text-6: 0.4rem;
  --text-5: 0.3rem;

  --gap-sm: 15px;
  --gap-md: 20px;
  --gap-lg: 40px;

  --margin-sm: 15px;
  --padding: 10px;

  --margin-sm: 15px;
  --padding-sm: 15px;

  --margin-md: 15px;
  --padding-md: 40px;

  --margin-lg: 20px;
  --padding-lg: 80px;

  --margin-xl: 20px;
  --padding-xl: 100px;

  --width-md: 768px;
  --width-lg: 992px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

label,
span {
  color: var(--green-950)
}

.sub-title {
  color: var(--green-900);
  font-size: var(--text-17);
  text-transform: uppercase;
  font-weight: 500;
}

.container-fluid {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px var(--padding-sm);
}

.card-title {
  color: var(--green-950);
  text-transform: uppercase;
  font-size: var(--text-17);
}

@media screen and (min-width: 769px) {
  .container-fluid {
    padding: 3px var(--padding-md);
  }
}

@media screen and (min-width: 993px) {
  .container-fluid {
    padding: 3px var(--padding-lg);
  }
}

@media screen and (min-width: 1201px) {
  .container-fluid {
    margin: 15px auto;
    max-width: var(--width-md);
    padding: 0px var(--padding-xl);
  }
}
